:root {
  --primary: #0d6efd;
  --primary-light: #d3e3fdff;
  --primary-lighter: rgba(13, 110, 253, 0.05);
  --primary-dark: #0b5ed7;
  --secondary: #f8f9fa;
  --secondary-light: rgba(3, 218, 198, 0.1);
  --secondary-dark: #f8f9fa;
  --background: #ffffff;
  --surface: #ffffff;
  --error: #dc3545;
  --error-light: rgba(176, 0, 32, 0.1);
  --success: #10b981;
  --dark:#2d2d2d;
  --success-light: rgba(16, 185, 129, 0.1);
  --warning: #ff9800;
  --info: #2196f3;
  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #ffffff;
  --text-secondary: rgb(86, 82, 82);

  --info-light: rgba(33, 150, 243, 0.1);
  --warning-light: rgba(255, 152, 0, 0.1);

  --text-primary: var(--primary);
  --text-secondary: #6c757d;
  --text-success: var(--success);
  --text-error: var(--error);
  --text-warning: var(--warning);
  --text-info: var(--info);
  --text-muted: #6c757d;
  --text-light: #f8f9fa;
  --text-dark: #212529;

  --link-color: var(--primary);
  --link-hover-color: var(--primary-dark);
  --link-visited-color: #6f42c1;

  --border-color: #dee2e6;
  --border-primary: var(--primary);
  --border-secondary: var(--secondary);
  --border-success: var(--success);
  --border-error: var(--error);
  --border-warning: var(--warning);
  --border-info: var(--info);

  --bg-primary: var(--primary-light);
  --bg-secondary: var(--secondary-light);
  --bg-success: var(--success-light);
  --bg-error: var(--error-light);
  --bg-warning: var(--warning-light);
  --bg-info: var(--info-light);

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);

  --border-radius: 20px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  --space-xs: 1px;
  --space-input: 12px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-container:1rem;
  --label-offset: 6px;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;

  --icon-lock: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></svg>');
  --icon-email: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>');
  --icon-send: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg>');
  --icon-add-person: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
  --icon-person: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
  --icon-close: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
  --icon-login: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z"/></svg>');
  --icon-logout: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>');
  --icon-edit: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>');
  --icon-delete: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>');
  --icon-payments: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/></svg>');
  --icon-bar-chart: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 9.2h3V19H5zM10.6 5h2.8v14h-2.8zm5.6 8H19v6h-2.8z"/></svg>');
  --icon-stores: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z"/></svg>');
  --icon-add: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>');
  --icon-remove: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 13H5v-2h14v2z"/></svg>');
  --icon-calendar-month: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z"/></svg>');
  --icon-search: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  --icon-download: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/></svg>');
  --icon-refresh: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.65 6.35A7.958 7.958 0 0 0 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18c-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/></svg>');
  --icon-filter-alt: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 6h10l-5.01 6.3L7 6zm-2.75-.39C6.27 8.2 10 13 10 13v6c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-6s3.72-4.8 5.74-7.39A.998.998 0 0 0 18.95 4H5.04c-.83 0-1.3.95-.79 1.61z"/></svg>');
  --icon-check-circle: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');
  --icon-linkedin: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 0H5a5 5 0 0 0-5 5v14a5 5 0 0 0 5 5h14a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.784 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z"/></svg>');
  --icon-github: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.92 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57C20.565 21.795 24 17.31 24 12c0-6.63-5.37-12-12-12z"/></svg>');
  --icon-email: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>');
  --icon-dark-mode: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2a10 10 0 1 0 9.95 11.85A7.5 7.5 0 1 1 12 4a7.48 7.48 0 0 1 .95.07A10.02 10.02 0 0 0 12 2z"/></svg>');
  --icon-light-mode: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="12" r="5"/><path d="M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72l1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42m12.72-12.72l1.42-1.42"/></svg>');

}

[data-theme="dark"] {
  --primary: #6c9ce8;
  --primary-light: #1a365d;
  --primary-lighter: rgba(108, 156, 232, 0.1);
  --primary-dark: #4a7bc1;

  --secondary: #2d3748;
  --secondary-light: rgba(3, 218, 198, 0.15);
  --secondary-dark: #1a202c;

  --background: #121212;
  --surface: #1e1e1e;
  --dark:#ffff;

  --error: #f28b82;
  --error-light: rgba(242, 139, 130, 0.15);
  --success: #81c995;
  --success-light: rgba(129, 201, 149, 0.15);
  --warning: #ffb347;
  --info: #7baaf7;

  --on-primary: #ffffff;
  --on-secondary: #ffffff;
  --on-background: #e2e2e2;
  --on-surface: #e2e2e2;
  --on-error: #000000;


  --text-primary: var(--primary);
  --text-secondary: #a0aec0;
  --text-success: var(--success);
  --text-error: var(--error);
  --text-warning: var(--warning);
  --text-info: var(--info);
  --text-muted: #718096;
  --text-light: #f8f9fa;
  --text-dark: #e2e8f0;

  --info-light: rgba(123, 170, 247, 0.15);
  --warning-light: rgba(255, 179, 71, 0.15);


  --shadow: 0 0.5rem 1rem rgb(20, 20, 20);

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  color: var(--on-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
iframe,
svg {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius-md);
}



header,
footer {
  padding: var(--space-md);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-top: auto;
  text-align: center;
}

main {
  padding: var(--space-md);
  flex: 1;
}

li {
  list-style: none !important;
}

main {
  padding: var(--space-md);
}

article,
section {
  background-color: var(--surface);
  color: var(--on-surface);
  border-radius: var(--border-radius);
  padding: var(--space-md);
  margin-bottom: var(--space-md);
  box-shadow: var(--shadow-sm);
}

article[primary],
section[primary] {
  background-color: var(--primary);
  color: var(--on-primary);
}

article[success],
section[success] {
  background-color: var(--success);
  color: var(--on-primary);
}

article[secondary],
section[secondary] {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

article[error],
section[error] {
  background-color: var(--error);
  color: var(--on-error);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--space-md);
  font-weight: 500;
  line-height: 1.2;
  color: var(--on-background);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: var(--space-md);
}

button:focus:not(:active)::after {
  animation: ripple 0.6s ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(20, 20);
    opacity: 0;
  }
}



button,
.button {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius) !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: var(--shadow-sm);
  background-color: var(--primary);
  color: var(--on-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
}

button:hover,
.button:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-1px);
}

button[outline],
.btn-outline {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

button[secondary],
.btn-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

button[error],
.btn-error {
  background-color: var(--error);
  color: var(--on-error);
}

button[success],
.btn-success {
  background-color: var(--success);
  color: var(--surface);
}

button[dark],
.btn-dark {
  background-color: var(--dark);
  border: none !important;
  color: var(--surface);
}

header>nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface);
  color: var(--on-background);    
}

header>nav h1 {
  margin: 0;
  font-size: var(--font-size-lg);
}

button.fill,
.button.fill {
  background-color: var(--primary-lighter);
  color: var(--primary);
  border: none;
  box-shadow: none;
  display: inline-flex;
  border-radius: var(--border-radius);
  gap: var(--space-xs);
}

button.fill:hover,
.button.fill:hover {
  background-color: var(--primary-light);
}


.fill {
  background-color: var(--primary-light);
  color: var(--primary);
  border-radius: var(--border-radius);
  padding: var(--space-sm) var(--space-md);
  display: inline-block;
}

.fill.primary {
  background-color: var(--primary-light);
  color: var(--primary);
}

.fill.secondary {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}

.fill.error {
  background-color: var(--error-light);
  color: var(--error);
}

.fill.success {
  background-color: var(--success-light);
  color: var(--success);
}

.text-fill {
  color: var(--primary) !important;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--surface);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
}

.gradient-bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #2ecc71, #3498db, #9b59b6);
}


.shadow {
  box-shadow: var(--shadow) !important;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
} 
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.items-center {
  align-items: center;
}


.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.between {
  justify-content: space-between !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 0.75rem !important;
}

.gap-4 {
  gap: 1rem !important;
}

.me-2 {
  margin-right: 0.5rem;
}

.mx-sm {
  max-width: 400px !important;
}

.mx-m {
  max-width: 600px !important;
}

.mx-img-card {
  max-width: 300px !important;
  max-height: 350px !important;
}

.underline-none {
  text-decoration: none !important;
}

.rounded-sm {
  border-radius: 0.5rem !important;
}

.rounded {
  border-radius: 1rem !important;
}

.circle {
  border-radius: 3rem !important;
}


.w-100 {
  width: 100% !important;
}

.w-full {
  width: 100% !important;
}

.mt-1 {
  margin-top: 0.5rem;
}


.mt-2 {
  margin-top: 1rem;
}


.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 3rem;
}


.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-right: 0.15rem;
}

i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-right: 0.15rem;
}
.icon-dark-mode {
  mask-image: var(--icon-dark-mode);
}
.icon-light-mode {
  mask-image: var(--icon-light-mode);
}
.icon-email {
  mask-image: var(--icon-email);
}

.icon-lock {
  mask-image: var(--icon-lock);
}

.icon-send {
  mask-image: var(--icon-send);
}

.icon-add-person {
  mask-image: var(--icon-add-person);
}

.icon-person {
  mask-image: var(--icon-person);
}

.icon-close {
  mask-image: var(--icon-close);
}

.icon-login {
  mask-image: var(--icon-login);
}

.icon-logout {
  mask-image: var(--icon-logout);
}

.icon-edit {
  mask-image: var(--icon-edit);
}

.icon-delete {
  mask-image: var(--icon-delete);
}

.icon-payments {
  mask-image: var(--icon-payments);
}

.icon-bar-chart {
  mask-image: var(--icon-bar-chart);
}

.icon-stores {
  mask-image: var(--icon-stores);
}

.icon-add {
  mask-image: var(--icon-add);
}

.icon-remove {
  mask-image: var(--icon-remove);
}

.icon-calendar-month {
  mask-image: var(--icon-calendar-month);
}

.icon-search {
  mask-image: var(--icon-search);
}

.icon-download {
  mask-image: var(--icon-download);
}

.icon-refresh {
  mask-image: var(--icon-refresh);
}

.icon-filter-alt {
  mask-image: var(--icon-filter-alt);
}

.icon-check-circle {
  mask-image: var(--icon-check-circle);
}

.icon-linkedin {
  mask-image: var(--icon-linkedin);
}

.icon-github {
  mask-image: var(--icon-github);
}

.icon-email {
  mask-image: var(--icon-email);
}

.icon-lock {
  mask-image: var(--icon-lock);
}


.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
}
 
 
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--space-container);
  padding-left: var(--space-container);
  box-sizing: border-box; 
  flex-wrap: wrap;
}

.container > * {
  max-width: 100%;
}
@media (min-width:576px) {
  .container {
    max-width: 510px; 
  }
}

@media (min-width:768px) {
  .container {
    max-width: 700px
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 950px
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1200px
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1450px
  }
}



.grid {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 768px) {

  .cols-2,
  .cols-3 {
    grid-template-columns: 1fr;
  }
}



.footer-bar {
  text-align: center;
  padding: var(--space-sm);
  background-color: var(--surface);
  color: var(--on-surface);
  box-shadow: var(--shadow-sm);
}

.elevation-1 {
  box-shadow: var(--shadow-sm);
}

.elevation-2 {
  box-shadow: var(--shadow-md);
}

.elevation-3 {
  box-shadow: var(--shadow-lg);
}

.rounded-sm {
  border-radius: var(--border-radius);
}

.rounded-md {
  border-radius: var(--border-radius-md);
}

.rounded-lg {
  border-radius: var(--border-radius-lg);
}

.text-primary {
  color: var(--primary) !important;
}

.text-success {
  color: var(--text-success) !important;
}
.text-light{
  color:var(--text-light) !important;
}
.text-dark{
  color:var(--text-dark)
}

.text-error {
  color: var(--error) !important;
}

.padding-sm {
  padding: var(--space-sm);
}

.padding-md {
  padding: var(--space-md);
}

.padding-lg {
  padding: var(--space-lg);
}

.margin-sm {
  margin: var(--space-sm);
}

.margin-md {
  margin: var(--space-md);
}

.margin-lg {
  margin: var(--space-lg);
}

@media (max-width: 768px) {
  :root {
    --space-md: 12px;
    --space-lg: 18px;
  }

  header {
    flex-direction: column;
    gap: var(--space-sm);
  }

  .cols-2,
  .cols-3 {
    grid-template-columns: 1fr;
  }
}
/* ========== INPUTS ========== */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"]) {
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-md);
  color: var(--on-background);
  border: 1px solid var(--border-color, #dee2e6);
  border-radius: var(--border-radius-md);
  outline: none;
  background: var(--surface);
  transition: all 0.3s ease;
  height: 56px;
  box-sizing: border-box;
  margin-bottom: var(--space-md);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"]):focus {
  border-color: var(--primary);
  border-width: 2px;
  padding: calc(var(--space-sm) - 1px) calc(var(--space-md) - 1px);
}

/* ========== INPUTS  DIV ========== */
div:has(> input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"])) {
  position: relative;
  margin-bottom: var(--space-md);
  width: 100%;
}

div:has(> input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"])) > input {
  padding-left: var(--space-md);
}

/* ========== INPUTS ICON ========== */
div:has(> .icon, > i) > input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"]) {
  padding-left: calc(var(--space-md) + 24px + var(--space-input));
}

div:has(> input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"])) > .icon,
div:has(> input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"])) > i {
  position: absolute;
  left: var(--space-md);
  top: 40%;
  transform: translateY(-50%);
  color: var(--text-secondary);
  z-index: 2;
  pointer-events: none;
}
 
div:has(> .icon-right) > input,
div:has(> input ~ .icon:not(:first-child)) > input {
  padding-left: var(--space-md);
  padding-right: calc(var(--space-md) + 24px + var(--space-input));
}

div > .icon-right,
div > input ~ .icon:not(:first-child) {
  left: auto;
  right: var(--space-md);
}
 
div:has(> .icon, > i) > input:focus {
  padding-left: calc(var(--space-md) + 24px + var(--space-input) - 1px);
}

/* ========== FLOATING LABELS ========== */
div.floating:has(> input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"])) {
  position: relative;
}

div.floating > label {
  position: absolute;
  top: 40%;
  left: var(--space-md);
  transform: translateY(-50%);
  color: var(--text-secondary);
  font-size: var(--font-size-md);
  pointer-events: none;
  transition: all 0.3s ease;
  background: var(--surface);
  padding: 0 var(--space-input);
}

div.floating > input:focus ~ label,
div.floating > input:not(:placeholder-shown) ~ label {
  transform: translateY(-40px) scale(0.85);
  color: var(--primary);
  padding: 0 var(--space-input);
  left: var(--space-md);
  background-color: var(--surface);
}
 
div.floating:has(> .icon, > i) > label {
  left: calc(var(--space-md) + 24px + var(--space-input));
}

div.floating:has(> .icon, > i) > input:focus ~ label,
div.floating:has(> .icon, > i) > input:not(:placeholder-shown) ~ label {
  left: var(--space-md);
}

/* ========== INPUTS UNDERLINE ========== */
input.underline,
div > input.underline {
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  background: transparent;
  padding-left: 0;
}

div:has(> .icon, > i) > input.underline {
  padding-left: calc(24px + var(--space-input));
}

input.underline:focus,
div > input.underline:focus {
  border-bottom: 2px solid var(--primary);
  padding-left: 0;
}

div.floating > input.underline ~ label {
  left: 0;
}

div:has(> input.underline) > .icon,
div:has(> input.underline) > i {
  left: 0;
}

.text-info {
  color: var(--info);
}

.text-warning {
  color: var(--warning);
}

.text-muted {
  color: var(--text-muted);
}

.text-secondary {
  color: var(--text-muted);
}

.text-light {
  color: var(--text-light);
}

.text-dark {
  color: var(--text-dark);
}

.bg-info {
  background-color: var(--bg-info);
}

.bg-warning {
  background-color: var(--bg-warning);
}

.border-primary {
  border-color: var(--border-primary);
}

.border-secondary {
  border-color: var(--border-secondary);
}

.border-success {
  border-color: var(--border-success);
}

.border-error {
  border-color: var(--border-error);
}

.border-warning {
  border-color: var(--border-warning);
}

.border-info {
  border-color: var(--border-info);
}

a {
  color: var(--link-color);

  transition: color 0.2s ease;
}

.underline {
  text-decoration: underline;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* 
  a:visited {
    color: var(--link-visited-color);
  } */

.hover-primary:hover {
  color: var(--primary);
}

.hover-secondary:hover {
  color: var(--secondary);
}

.hover-success:hover {
  color: var(--success);
}

.hover-error:hover {
  color: var(--error);
}

.hover-warning:hover {
  color: var(--warning);
}

.hover-info:hover {
  color: var(--info);
}

.icon-info {
  color: var(--info);
}

.icon-warning {
  color: var(--warning);
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-primary {
  color: var(--on-primary);
  background-color: var(--primary);
}

.badge-secondary {
  color: var(--on-secondary);
  background-color: var(--secondary);
}

.badge-success {
  color: white;
  background-color: var(--success);
}

.badge-error {
  color: white;
  background-color: var(--error);
}

.badge-warning {
  color: var(--text-dark);
  background-color: var(--warning);
}

.badge-info {
  color: white;
  background-color: var(--info);
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius-md);
}

.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
 
div:has(> select) {
  position: relative;
  margin-bottom: var(--space-md);
  width: 100%;
}

div:has(> select) > select {
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-md);
  color: var(--on-background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  outline: none;
  background: var(--surface);
  transition: all 0.3s ease;
  height: 56px;
  box-sizing: border-box;
  padding-left: calc(var(--space-md) + 24px + var(--space-input));
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

div:has(> select) > label {
  position: absolute;
  top: 18px;
  left: calc(var(--space-md) + 24px + var(--space-input));
  color: var(--text-secondary);
  font-size: var(--font-size-md);
  pointer-events: none;
  transition: all 0.3s ease;
  transform-origin: left center;
}

div:has(> select) > select:focus ~ label,
div:has(> select) > select:not(:placeholder-shown) ~ label,
div:has(> select) > select:valid ~ label {
  transform: translateY(-28px) scale(0.85);
  color: var(--primary);
  padding: 0 var(--space-input);
  left: var(--space-md);
  background-color: var(--surface);
}

div:has(> select) > select:focus {
  border-color: var(--primary);
  border-width: 2px;
  padding: calc(var(--space-sm) - 1px) calc(var(--space-md) - 1px);
  padding-left: calc(var(--space-md) + 24px + var(--space-input) - 1px);
}

div:has(> select) > .icon {
  position: absolute;
  left: var(--space-md);
  top: 16px;
  color: var(--text-secondary);
  z-index: 2;
}
 
div:has(> select)::after {
  content: "";
  position: absolute;
  right: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--text-secondary);
  pointer-events: none;
  transition: all 0.3s ease;
}

div:has(> select:focus)::after {
  border-top-color: var(--primary);
}
 
 
dialog{
  border:none !important;
  border-radius: var(--border-radius-md) !important;
}
